


    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="container">
                        <div class="card card-maincontainer">
                            <p>🔄 Sjekker innlogging...</p>
                        </div>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <div class="container">
                        <div class="card card-maincontainer">
                            <h2>🔒 Ikke logget inn</h2>
                            <p>Du må logge inn for å bruke denne siden.</p>
                            <a href="/.auth/login/aad?post_login_redirect_uri=/" class="btn btn-primary">Logg inn med Microsoft</a>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="/img/homer_404.png" height="300" />
                    </div>
                    <div class="col">
                        <h1>404!</h1>
                        <p> Doh! her var det ingen ting gitt!</p>
                        <a href="/">Go home(er)..</a>
                    </div>
                </div>
            </div>
        </NotFound>
    </Router>

