@page "/"
@using BlazorApp.Client.Pages.Shopping
@inject HttpClient http

<AuthorizeView>
    <Authorized>
        <div class="container-sm">
            <ShoppingListMainPage></ShoppingListMainPage>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToWelcome />
    </NotAuthorized>
</AuthorizeView>

@code
{
}