@inject NavigationManager Navigation


<nav class="navbar navbar-expand-sm navbar-dark">
    
    
    <a class="navbar-brand" href="">The Aase-broen's</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler"
            aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass" id="toggler" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <NavLink class="nav-link" href="shoppinglist">
                <span class="oi oi-arrow-circle-right" aria-hidden="true" style="margin:2px"></span>  Handlelister
            </NavLink>

            @* Admin functions as a CSS-only dropdown *@
            <li class="nav-item admin-dropdown">
                <span class="nav-link dropdown-trigger">
                    <span class="oi oi-cog" aria-hidden="true" style="margin:2px"></span> Admin <span class="dropdown-arrow">▼</span>
                </span>
                <div class="admin-dropdown-menu">
                    <NavLink class="dropdown-item" href="/managemyshops">
                        <span class="oi oi-arrow-circle-top" aria-hidden="true" style="margin:2px"></span> Håndter butikker
                    </NavLink>
                    <NavLink class="dropdown-item" href="/items">
                        <span class="oi oi-list" aria-hidden="true" style="margin:2px"></span> Administrer varer
                    </NavLink>
                    <NavLink class="dropdown-item" href="/categories">
                        <span class="oi oi-tags" aria-hidden="true" style="margin:2px"></span> Administrer kategorier
                    </NavLink>
                </div>
            </li>

        </ul>
    </div>
    
    
</nav>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}